*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color : #0d6efd;
}

.navbar{
    background-color: var(--main-color) !important;
}


#showRestaurants{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.card img{
    height: 200px;
    padding: 4px 4px 0px 4px;
    transition: .2s;
    
}



.card img:hover{
    transform: scale(1.1);
    
}

.card{
    margin: 10px 10px;
    text-align: center;
    border: 1px solid var(--main-color) ;
    overflow: hidden;
    /* color: var(--main-color); */
}

.card:hover{
    border: 1px solid rgb(65, 65, 65);
    
}

.card-header:hover{
    cursor: pointer;

}

.bordered{
    border: 1px solid rgb(74, 155, 7);
    background-color: rgb(74, 155, 7);
    color: rgb(243, 243, 243);
    
}

#dishedBtn{
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.bi-cart-check{
    font-size: 20px !important;
    color: rgb(88, 88, 88);
    font-family: 'Poppins', sans-serif !important;
    /* padding: 3px 8px; */

    

}

#cartBtn{
    width: 120px;
    font-size: 18px;
    font-weight: 450;
    margin-right: 10px;
    color: rgb(88, 88, 88);
    border: 1px solid rgb(88, 88, 88);
    height: 40px;
}